<div class="col-md-6 d-flex align-items-stretch col-sm-12">
    <div class="product card mb-4">
        <div class="card-header bg-secodary">
            {%if product.link %}
            <a title="{{product.name}}" href="{{product.link}}">
                <h2>{{product.name}}</h2>
            </a>
            {% else %}
            <h2>{{product.name}}</h2>
            {% endif %}
        </div>
        <div class="card-body">
            {% for doc in product.docs %}
            <div class="doc-link">
                <a href="{{product.link}}{{doc.link}}">{{doc.description}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>